.swiper-wrapper {
    /* margin-bottom: 80px; */
    padding-bottom: 50px;
}

@media (max-width:1090px) {
    .swiper-wrapper {
        padding-bottom: 250px;
    }
}

@media (max-width:880px) {
    .swiper-wrapper {
        padding-bottom: 300px;
    }
}

@media (max-width:372px) {
    .swiper-wrapper {
        padding-bottom: 200px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

@media (max-width:500px) {
    .swiper-slide img {
        margin-bottom: 50px;
    }
}
.swiper-slide .my-slide-1 {
    left: 8%;
}


.swiper-slide .my-slide-2 {
    right: 8%;
}

@media (max-width:1420px) {
    .banner-text-1 {
        left: 90px;
        flex-shrink: 0;
    }

    .banner-text-2 {
        right: 90px;
        flex-shrink: 0;
    }
}

@media (max-width:1090px) {
    .my-slide-1 .banner-text-1 {
        width: 95%;
        height: 200px;
        background-color: white;
        box-shadow: 2px 2px 10px gray;
        bottom: -30%;
        left: 2.5%;
        flex-shrink: 0;
        z-index: 10;
        padding: 40px;
    }

    .my-slide-2 .banner-text-2 {
        width: 95%;
        height: 200px;
        bottom: -30%;
        left: 2.5%;
        flex-shrink: 0;
        background-color: white;
        box-shadow: 2px 2px 10px gray;
        z-index: 10;
        padding: 40px;
    }
}

@media (max-width: 880px) {
    .my-slide-1 .banner-text-1 {
        width: 100%;
        height: 53%;
        background-color: white;
        box-shadow: 2px 2px 10px gray;
        left: 0;
        flex-shrink: 0;
        transform: translateY(20%);
        z-index: 10;
        padding: 40px;
    }

    .my-slide-2 .banner-text-2 {
        width: 100%;
        height: 53%;
        background-color: white;
        box-shadow: 2px 2px 10px gray;
        left: 0;
        flex-shrink: 0;
        transform: translateY(20%);
        z-index: 10;
        padding: 40px;
    }
}


@media (max-width: 580px) {
    .my-slide-1 .banner-text-1 {
        width: 100%;
        height: 70%;
        transform: translateY(40%);
        padding: 50px;
        box-shadow: 0, 2px 0 5px 2px gray, 0, 0;
    }

    .my-slide-2 .banner-text-2 {
        width: 100%;
        height: 70%;
        transform: translateY(40%);
        padding: 50px;
        box-shadow: 0, 2px 0 5px 2px gray, 0, 0;
    }
}

@media (max-width: 500px) {
    .my-slide-1 .banner-text-1 {
        width: 100%;
        height: 80%;
        transform: translateY(40%);
        padding: 40px;
        box-shadow: 0, 2px 0 5px 2px gray, 0, 0;
        margin-bottom: 20px;
    }

    .my-slide-2 .banner-text-2 {
        width: 100%;
        height: 80%;
        transform: translateY(40%);
        padding: 40px;
        box-shadow: 0, 2px 0 5px 2px gray, 0, 0;
        margin-bottom: 20px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    top: 98%;
    /* left: 50%; */
    color: black;
    z-index: 20;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
}

.swiper-button-prev {
    left: 50%;
    transform: translateX(-300%);
}

.swiper-button-next {
    right: 50%;
    transform: translateX(300%);
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.banner-text-1 {
    /* background-color: teal; */
    width: 300px;
    height: 200px;
    position: absolute;
    left: 8%;
}

.banner-text-2 {
    /* background-color: teal; */
    width: 300px;
    height: 200px;
    position: absolute;
    right: 8%;
}

.banner-title {
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 16px;
    text-align: start;
}

.banner-content {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif margin-bottom: 24px;
    text-align: start;
}

.banner-text-btn {
    background-color: #0166B8;
    width: 92px;
    height: 40px;
    border: none;
    font-size: 16px;
    color: white;
    position: absolute;
    left: 0;
    margin-top: 12px;
}

@media (max-width:1090px) {
    .banner-text-btn {
        left: 40px;
    }
}

@media (max-width:880px) {
    .banner-text-btn {
        left: 40px;
    }
}

@media (max-width:580px) {
    .banner-text-btn {
        left: 50px;
    }
}

@media (max-width:500px) {
    .banner-text-btn {
        left: 40px;
    }
}

.banner-text-btn a:focus,
.banner-text-btn a:link,
.banner-text-btn a:visited {
    color: white;
}

.banner-text-btn:hover {
    color: white;
    background-color: #034d8a;
}

.banner-text-btn:focus,
.banner-text-btn:active {
    border: 2px dashed white;
}

/* 按下去要消失 */
/* .stop {
    display: inline-block;
}

.play {
    display: none;
} */


.stop {
    /* background-color: aqua; */
    background-image: url(../img/circle-stop-solid.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;  
    /* display: none; */
    left: calc(50% - 120px);
    z-index: 15;
}


.play {
    /* background-color: red; */
    background-image: url(../img/play-solid.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    left: calc(50% - 120px);
    z-index: 15;
}

.play:hover, stop:hover {
    filter: invert(100%);
}