* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    /* background-color: lightskyblue; */
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: lightslategray;
    width: 366px;
    height: 100%;
    float: left;
}

@media (max-width:1200px) {
    .nav {
        width: 100%;
        height: 100px;
        float: none;
    }
}

@media (max-width:830px) {
    .nav {
        background-color: lightslategray;
        width: 100%;
        height: 100px;
        float: none;
    }
}

.logo {
    /* background-color: beige; */
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-image: url(../img/1-LINE_ALBUM_上課使用_231221_4.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    margin-bottom: 20px;
}

@media (max-width:1200px) {
    .logo {
        /* background-color: beige; */
        width: 80px;
        height: 80px;
        float: left;
        margin-top: 10px;
        margin-left: 50px;
        background-image: url(../img/1-LINE_ALBUM_上課使用_231221_4.jpg);
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: center;
    }
}

@media (max-width:830px) {
    .logo {
        /* background-color: beige; */
        width: 80px;
        height: 80px;
        position: absolute;
        top:0;
        left:35%;
        /* margin: auto; */
        /* margin-top: 10px; */
        /* margin-bottom: 0;
        margin-left:calc(40% - 40px); */
    }
}

.logo:hover {
    opacity: 0.8;
    background-color: aliceblue;
}

.nav-btn-all {
    /* background-color: black; */
    /* width: 200px;
    height: 200px; */
    margin: auto;
}

@media (max-width:1200px) {
    .nav-btn-all {
        width: 500px;
        height: 100px;
        float: right;
        margin-top: 10px;
    }
}

@media (max-width:830px) {
    .nav-btn-all {
        display: none;
        height:300px;
        width: 200px;
        background-color: rgba(73, 113, 113, 0.927) ;
        position: absolute;
        top: 90px;
        padding: 20px 30px;
    }
}

.nav-btn {
    background-color: rgb(153, 234, 215);
    width: 200px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
    display: block;
    text-decoration: none;
}

@media (max-width:1200px) {
    .nav-btn {
        background-color: rgb(153, 234, 215);
        width: 140px;
        height: 80px;
        margin-right: 10px;
        float: left;
        line-height: 80px;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 8px;
    }
}

.nav-btn:hover {
    background-color: aliceblue;
    font-weight: bold;
    color: gray;
}

.content-all {
    /* background-color: aquamarine; */
    width: calc(100% - 366px);
    height: 100%;
    float: left;
    padding-top: calc((100vh - 570px) / 2);
    /* padding不能用%，要用絕對的單位ex. vh */
}

@media (max-width:1200px) {
    .content-all {
        width: 100%;
        height: calc(100% - 100px);
        padding-top: 100px;
        float: none;
    }
}

@media (max-width:830px) {
    .content-all {
        width: 100%;
        height: calc(100% - 100px);
        float: none;
        padding-top: 0;
    }
}

.content {
    /* background-color: blanchedalmond; */
    width: 957px;
    height: 570px;
    margin: auto;
}

@media (max-width:1200px) {
    .content {
        /* background-color: blanchedalmond; */
        width: 700px;
        height: 800px;
    }
}

@media (max-width:1350px) {
    .content {
        /* background-color: blanchedalmond; */
        width: 800px;
        height: 570px;
    }
}

    @media (max-width:830px) {
        .content {
            /* background-color: blanchedalmond; */
            width: 100%;
            height: 100%;
        }
    }

.img {
    /* background-color: brown; */
    width: 33%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width:1350px) {
    .img {
        height: calc(50% - 5px);
    }
}

@media (max-width:1200px) {
    .img {
        /* background-color: brown; */
        height: calc(50% - 5px);
        float: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width:830px) {
    .img {
        /* background-color: brown; */
        width: 100%;
        height: calc(100% / 3);
    }
}

.img:hover {
    opacity: 0.7;
    scale: 0.95;
    border-radius: 10px;
    /* transform: rotate(3deg); */
}

.img-1 {
    background-image: url(../img/LINE_ALBUM_上課使用_231221_12.jpg);
}

@media (max-width:1350px) {
    .img-1 {
        width: 100%;
        margin-bottom: 10px;
        background-position: center -500px;
    }
}

@media (max-width:1200px) {
    .img-1 {
        background-image: url(../img/LINE_ALBUM_上課使用_231221_12.jpg);
        width: 100%;
        margin-bottom: 10px;
        background-position: center -500px;
    }
}

@media (max-width:830px) {
    .img-1 {
        /* width: 100%;
        background-position: center;
        height: calc(100% / 3); */
        margin-bottom: 0;
    }
}


.img-2 {
    width: calc(34% - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(../img/LINE_ALBUM_上課使用_231221_1.jpg);
}


@media (max-width:1350px) {
    .img-2 {
        width: calc(50% - 5px);
        margin-left: 0;
        margin-right: 10px;
    }
}

@media (max-width:830px) {
    .img-2 {
        width: 100%;
        height: calc(100% / 3);
        background-position: center -420px;
        margin-right: 0;
    }
}

.img-3 {
    background-image: url(../img/LINE_ALBUM_上課使用_231221_9.jpg);
    background-position: left;
}

@media (max-width:1350px) {
    .img-3 {
        width: calc(50% - 5px);
        background-position: left;
        background-position: center -20px;
    }
}

@media (max-width:830px) {
    .img-3 {
        width: 100%;
        height: calc(100% / 3);
        background-position: left;
        background-position: center -80px;
    }
}

/* 漢堡條 */
.ham-menu-btn{
    background-color: teal;
    width: 80px;
    height: 80px;
    /* label 行內層級 無法呈現大小 必須改成 block 層級 */
    /* display: block; */
    display: none;
    position: relative;
    top: 10px;
    left: 10px;
}

    @media (max-width:830px) {
        .ham-menu-btn{
            display: block;
        }
    }

        /* 空1格 後代 => 後代選擇器 */
        .ham-menu-btn .line{
            background-color: black;
            width: 80%;
            height: 10px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 1s;
        }

        .ham-menu-btn #line-1 {
            top: 25%;
        }

        .ham-menu-btn #line-2 {
            top: 50%;
        }

        .ham-menu-btn #line-3 {
            top: 75%;
        }

        #ham-menu-switch:checked+.ham-menu-btn #line-1{
            top:50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        #ham-menu-switch:checked+.ham-menu-btn #line-2{
            display: none;
        }

        #ham-menu-switch:checked+.ham-menu-btn #line-3{
            top: 50%;
            transform:  translate(-50%, -50%) rotate(-45deg);
        }
        
        #ham-menu-switch:checked~.nav-btn-all{
            display: block;
        }

        .ham-menu-btn:hover{
            background-color: rgba(189, 183, 107, 0.63);
        }